body {
  background-image: url(../img/library.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 960px;
  width: 100%;
  padding: 15px;
  margin: auto;
  background-color: #dec58d;
  border-style: solid;
  border-width: 5px;
  border-radius: 25px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000; 
  box-shadow: 5px 5px 15px 5px #000000;
}

.col-lg-8 {
  width: 100%;
}

.form_control input {
  margin-top: 5px;
  margin-bottom: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: gray;
  border-radius: 5px;
  background-color: wheat;
}
